@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Are You Sure To Delete @Model.Name </h1>
<div asp-validation-summary="All"> </div>
<br />
<form asp-action="Delete">

    <partial name="PartialViews/DeleteDetialsPartialView" />

    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>

